.q-form-pic {
    height: 35%;
}

.q-add-new-btn {
    width: 25% !important;
}

.q-modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,20%);
}

.q-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 60%;

    /*margin: 20% auto;*/
    /*width: 50%;*/
    /*height: 50%;*/

    /*padding: 20%;*/
    /*background-color: #fefefe;*/

}

.q-cancel-modal {

}

#song-list {
    display: none;
}
