<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add album</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/js/song_select.js" th:src="@{/js/song_select.js}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div th:insert="~{fragments/navbar :: navbar}"></div>
        </div>
        <div class="row mt-3">
            <h1 th:text="#{header.new_album}"></h1>
        </div>
        <div class="row" style="width: 50%;">
            <form method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="release" class="form-label" th:text="#{label.release_date}"></label>
                    <input type="text" class="form-control" id="release" name="release">
                    <div id="release-help" class="form-text">Format: YYYY-MM-DD</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="song-list-btn" th:text="#{label.select_songs}"></label>

                    <div class="mb-3">
                        <button type="button" class="btn btn-success" id="song-list-btn" th:text="'Click to see ' + ${songs.size} + ' songs'">
                            Click to see songs
                        </button>
                    </div>

                    <div id="song-list" style="display: none;">
                        <div class="form-check" th:each="song : ${songs}">
                            <input type="checkbox" class="form-check-input" name="songIds" th:value="${song.id}">
                            <label class="form-check-label" th:text="${song.title}"></label>
                        </div>
                    </div>
                </div>

                <input type="submit" class="btn btn-dark" th:value="#{label.add}">
            </form>
        </div>
    </div>
</body>
</html>