<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/base_header :: base_header (page_title='Add song')}"> </th:block>
</head>

<body>
<div class="container">
    <div class="row">
        <div th:insert="~{fragments/navbar :: navbar}"></div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="row mb-3">
                <h1>Add a new song</h1>
            </div>

            <form method="post" th:object="${song}">
                <div class="row">
                    <div class="mb-3">
                        <label for="title" class="form-label fs-4">Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}">
                        <p class="mt-1 text-danger"
                           th:if="${#fields.hasErrors('title')}" th:text="${#fields.errors('title')}">
                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="length" class="form-label fs-4">Length</label>
                        <input type="number" step="any" class="form-control" id="length" th:field="*{length}">
                        <p class="mt-1 text-danger"
                           th:if="${#fields.hasErrors('length')}" th:text="${#fields.errors('length')}">
                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="genre-select" class="form-label fs-4">Choose genres</label>
                        <div id="genre-select">
                            <div th:each="genre : ${genres}">
                                <input type="checkbox" name="genreOrdinals" class="form-check-input" th:value="${genre.ordinal}">
                                <label class="form-check-label mb-1" th:text="${genre.readable}">Genre</label>
                            </div>
                        </div>
                        <p class="mt-1 text-danger"
                           th:if="${#fields.hasErrors('genreOrdinals')}" th:text="${#fields.errors('genreOrdinals')}">
                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="recorded">Finished recording</label>
                        <input type="text" class="form-control" id="recorded" name="recorded">
                        <p class="mt-1 text-danger"
                           th:if="${#fields.hasErrors('recorded')}" th:text="${#fields.errors('recorded')}">
                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="album" class="form-label fs-4">Album</label>
                        <select class="form-select" id="album" name="albumId">
                            <option value="-1">Specify later</option>
                            <option th:each="album : ${albums}" th:text="${album.title}" th:value="${album.id}"></option>
                        </select>
                    </div>

                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button class="q-submit-button btn-lg btn-dark" th:text="Done">
                        <input type="submit">
                    </button>
                </div>
            </form>
        </div>

        <div class="col-2">
            <img src="/img/brian_standing.png" alt="Brian standing">
        </div>

    </div>
</div>
</body>
</html>