<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="~{fragments/base_header :: base_header (page_title='Add album')}"> </th:block>
    <script src="../static/js/song_select.js" th:src="@{/js/song_select.js}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div th:insert="~{fragments/navbar :: navbar}"></div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="row mb-3">
                    <h1 th:text="#{header.new_album}"></h1>
                </div>

                <form method="post" th:object="${album}">
                    <div class="row">
                        <div class="mb-5">
                            <label for="title" class="form-label fs-4">Title</label>
                            <input type="text" id="title" class="form-control" th:field="*{title}">
                            <p th:if="${#fields.hasErrors()}">Name error</p>
                        </div>

                        <div class="mb-5">
                            <label for="release" class="form-label fs-4">Release</label>
                            <input type="date" id="release" class="form-control" th:field="*{release}">
                        </div>

                        <div class="mb-5">
                            <label class="form-label fs-4" for="song-list-btn">Select songs</label>
                            <div>
                                <button type="button" class="btn btn-warning mb-2" id="song-list-btn"
                                        th:text="'Click to see ' + ${songs.size} + ' songs'">
                                </button>

                                <p th:if="${songs.size} == 0">There are no songs without albums found.</p>
                            </div>

                            <div id="song-list" style="display: none">
                                <div class="form-check" th:each="song : ${songs}">
                                    <input type="checkbox" class="form-check-input"
                                           th:value="${song.id}" th:id="'song-id-' + ${song.id}" th:field="*{songIds}">
                                    <label class="form-check-label mb-1"
                                           th:text="${song.title}" th:for="'song-id-' + ${song.id}">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-5">
                            <label for="description" class="fs-4">Write a description</label>
                            <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btn-lg btn-dark" style="width: 50%" th:text="Done">
                            <input type="submit">
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-2">
                <img src="/img/freddy_standing.webp" alt="Freddy standing" style="height: 50%">
            </div>
        </div>
    </div>
</body>
</html>
