<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="~{fragments/base_header :: base_header (page_title=#{title.albums.add})}"> </th:block>
    <script defer th:src="@{/js/song_select.js}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div th:insert="~{fragments/navbar :: navbar}"></div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="row mb-3">
                    <h1 th:text="#{header.new_album}"></h1>
                </div>

                <form method="post" th:object="${album}">
                    <div class="row">
                        <div class="mb-3">
                            <label for="title" class="form-label fs-4" th:text="#{label.title}"></label>
                            <input type="text" id="title" class="form-control" minlength="4" maxlength="30"
                                   required th:field="*{title}">
                            <p class="mt-1 text-danger"
                               th:if="${#fields.hasErrors('title')}" th:text="${#fields.errors('title')}">
                            </p>
                        </div>

                        <div class="mb-3">
                            <label for="release" class="form-label fs-4" th:text="#{label.release}"></label>
                            <input type="date" id="release" class="form-control" required th:field="*{release}">
                            <p class="mt-1 text-danger"
                               th:if="${#fields.hasErrors('release')}" th:text="${#fields.errors('release')}">
                            </p>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fs-4" for="song-list-btn" th:text="#{label.select_songs}"></label>
                            <div>
                                <!-- Todo: incomplete translation -->
                                <button type="button" class="btn btn-warning mb-2" id="song-list-btn"
                                        th:text="'Click to see ' + ${songs.size} + ' songs'">
                                </button>
                                <p class="mt-1 text-danger" th:if="${songs.size} == 0" th:text="#{label.no_songs_found}">
                                </p>
                            </div>

                            <div id="song-list">
                                <div class="form-check" th:each="song : ${songs}">
                                    <input type="checkbox" class="form-check-input"
                                           th:value="${song.id}" th:id="'song-id-' + ${song.id}" th:field="*{songIds}">
                                    <label class="form-check-label mb-1"
                                           th:text="${song.title}" th:for="'song-id-' + ${song.id}">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="fs-4" th:text="#{label.description}"></label>
                            <textarea class="form-control" id="description" rows="3" maxlength="5000" th:field="*{description}">
                            </textarea>
                            <p class="mt-1 text-danger"
                               th:if="${#fields.hasErrors('description')}" th:text="${#fields.errors('description')}">
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <button class="q-submit-button btn-lg btn-dark" th:text="#{label.done}">
                            <input type="submit">
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-2">
                <img src="/img/freddy_standing.webp" alt="Freddy standing" class="q-form-pic">
            </div>
        </div>
    </div>
</body>
</html>
