<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
    <th:block th:include="~{fragments/base_header :: base_header (page_title=#{title.albums})}"> </th:block>
    <script defer th:src="@{/js/bundle-albums.js}"></script>
    <script defer th:src="@{/js/bundle-songselect.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div th:insert="~{fragments/navbar :: navbar}"></div>
        </div>

        <div class="row mb-5">
            <button class="q-topbar-btn btn btn-dark" id="add-album">
                Add new
                <span class="bi bi-plus-square"></span>
            </button>

            <button class="q-topbar-btn btn btn-danger">
                Delete all
                <span class="bi bi-trash"></span>
            </button>
        </div>

        <div class="row">
            <table class="table table-striped" id="albums-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th th:text="#{label.title}"></th>
                    <th th:text="#{label.release}"></th>
                    <th th:text="#{label.number_of_songs}"></th>
                    <th th:text="#{label.action}"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="album, iter : ${albums}" th:id="'album-' + ${album.id}">
                        <td th:text="${album.id}">0</td>
                        <td th:text="${album.title}"><span th:text="#{label.title}"></span></td>
                        <td th:text="${album.release}">N/A</td>
                        <td th:text="${album.getSongs().size()}">0</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="q-read btn btn-warning"
                                        th:value="${album.id}" th:text="#{label.details}">
                                </button>

                                <button type="button" class="q-edit btn btn-dark"
                                        th:value="${album.id}" th:text="#{label.edit}">
                                </button>

                                <button type="button" class="q-delete btn btn-danger"
                                        th:value="${album.id}" th:text="#{label.delete}">
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="q-modal" id="new-album-modal">
            <div class="q-modal-content">
                <div class="col-5">
                    <h1 class="mb-3"
                        th:text="#{header.new_album}">
                    </h1>

                    <form id="new-album-form" action="#">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="title" class="form-label fs-4"
                                           th:text="#{label.title}">
                                    </label>

                                    <input type="text" id="title" class="form-control" name="title" minlength="4"
                                           maxlength="30" required>
                                </div>

                                <div class="mb-3">
                                    <label for="release" class="form-label fs-4"
                                           th:text="#{label.release}">
                                    </label>

                                    <input type="date" id="release" class="form-control" name="release" required>
                                </div>

                                <div class="mb-3">
                                    <label for="description" class="fs-4"
                                           th:text="#{label.description}">
                                    </label>

                                    <textarea class="form-control" id="description" rows="3" maxlength="5000"
                                              name="description">
                                    </textarea>
                                </div>

                                <div class="mb-3">
                                    <button type="button" class="btn btn-warning" id="cancel-new-btn">Cancel</button>

                                    <button type="submit" class="btn btn-dark" id="add-new-btn"
                                            th:text="#{label.done}">
                                    </button>
                                </div>
                            </div>

                            <div class="col">
                                <label class="form-label fs-4" for="song-list-btn"
                                       th:text="#{label.select_songs}">
                                </label>

                                <div>
                                    <button type="button" class="btn btn-warning mb-2" id="song-list-btn"
                                            th:text="'Click to see ' + ${songs.size} + ' songs'">
                                    </button>

                                    <p class="mt-1 text-danger"
                                       th:if="${songs.size} == 0" th:text="#{label.no_songs_found}">
                                    </p>
                                </div>

                                <div id="song-list">
                                    <div class="form-check" id="song-select"
                                         th:each="song : ${songs}">
                                        <input type="checkbox" class="form-check-input" name="song-ids"
                                               th:value="${song.id}" th:id="'song-' + ${song.id}">

                                        <label class="form-check-label mb-1"
                                               th:text="${song.title}" th:for="'song-' + ${song.id}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="q-modal" id="edit-album-modal">
            <div class="q-modal-content">

            </div>
        </div>

        <div class="q-modal" id="read-album-modal">
            <div class="q-modal-content">
                <div class="row">

                    <div class="col">
                        <div class="row" style="border: 1px solid black;">
                            <span class="h4" id="album-title">Sample title</span>
                            <span class="q-modal-close">&times;</span>
                        </div>

                        <div class="row">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Release date</td>
                                        <td id="album-release">01/01/1980</td>
                                    </tr>

                                    <tr>
                                        <td>Length</td>
                                        <td id="album-length">23.4</td>
                                    </tr>

                                    <tr>
                                        <td>Genres</td>
                                        <td id="album-genres">-</td>
                                    </tr>

                                    <tr>
                                        <td>Track list</td>
                                        <td>
                                            <ul class="list-group" id="album-songs">
                                                
                                            </ul>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Description</td>
                                        <td id="album-desc">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
