<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
    <th:block th:include="~{fragments/base_header :: base_header (page_title='Albums')}"> </th:block>
</head>
<body>
    <div class="container">
        <div class="row">
            <div th:insert="~{fragments/navbar :: navbar}"></div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th th:text="#{label.title}"></th>
                    <th th:text="#{label.release}"></th>
                    <th th:text="#{label.number_of_songs}"></th>
                    <th th:text="#{label.action}"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="album, iter : ${albums}">
                        <td th:text="${iter.index + 1}">0</td>
                        <td th:text="${album.title}"><span th:text="#{label.title}"></span></td>
                        <td th:text="${album.release}">N/A</td>
                        <td th:text="${album.getSongs().size()}">0</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a th:href="'/albums/' + ${album.id}">
                                    <button type="button" class="btn btn-warning">
                                        <span th:text="#{label.details}"></span>
                                        <i class="bi bi-eyeglasses"></i>
                                    </button>
                                </a>
                                <a th:href="'/albums/' + ${album.id} + '/edit'">
                                    <button type="button" class="btn btn-dark">
                                        <span th:text="#{label.edit}"></span>
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </a>
                                <a th:href="'/albums/' + ${album.id} + '/delete'">
                                    <button type="button" class="btn btn-danger">
                                        <span th:text="#{label.delete}"></span>
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mb-5">
            <a href="/albums/add">
                <button type="button" class="btn btn-dark" style="width: 25%;" th:text="#{label.add}"></button>
            </a>
        </div>
    </div>
</body>
</html>
