<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <th:block th:include="~{fragments/base_header :: base_header (page_title='Log in')}"> </th:block>
</head>
<body class="text-center">
<form class="form-login" method="post"
      th:action="@{login}" th:object="${loginInfo}">
  <div class="mb-4">
    <img id="login-logo" alt="Band logo"
         th:src="@{/img/logo.png}">
  </div>

  <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

  <label for="username" class="sr-only">Username</label>

  <input type="text" id="username" class="form-control" required autofocus
         th:field="*{username}">

  <label for="password" class="sr-only">Password</label>

  <input type="password" id="password" class="form-control" required
         th:field="*{password}">

  <button class="btn btn-lg btn-warning btn-block" type="submit">Log in</button>

  <p class="mt-5 mb-3 text-muted">&copy; 2022 QueenApp</p>
</form>
</body>
</html>