<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/base_header :: base_header (page_title=${song.title})}"> </th:block>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:insert="~{fragments/navbar :: navbar}"></div>
    </div>

    <div class="row">
        <h4 th:text="${song.title}">Song title</h4>
    </div>
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <td>Length</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Genres</td>
                    <td th:text="${song.genresToString}">Genres</td>
                </tr>
                <tr>
                    <td>Finished recording</td>
                    <td th:text="${song.finishedRecording}">Finished recording</td>
                </tr>
                <tr>
                    <!-- Todo: else in thymeleaf? -->
                    <td>Album</td>
                    <td th:if="${song.album != null}" th:text="${song.album.title}"></td>
                    <td th:if="${song.album == null}">N/A</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
