<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${song.title}"></title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:insert="~{navbar :: navbar}"></div>
    </div>

    <div class="row">
        <h4 th:text="${song.title}">Song title</h4>
    </div>
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <td>Length</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Genres</td>
                    <td th:text="${song.genresToString}">Genres</td>
                </tr>
                <tr>
                    <td>Finished recording</td>
                    <td th:text="${song.finishedRecording}">Finished recording</td>
                </tr>
                <tr>
                    <td>Album</td>
                    <td th:text="${song.album.title}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
